<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">
            店铺分类
        </div>
        <a class="right">

        </a>
    </div>
</nav>

<div class="shop_classify jdshop_shadow">
    <div class="one_of_shop">
        <div class="shop_name"><span>糕点</span></div>
        <div class="shop_button"><img src="../../images//product_go.png" alt=""></div>
    </div>
    <div class="one_of_shop">
        <div class="shop_name"><span>茗茶</span></div>
        <div class="shop_button"><img src="../../images//product_go.png" alt=""></div>
    </div>
    <div class="one_of_shop">
        <div class="shop_name"><span>食材</span></div>
        <div class="shop_button"><img src="../../images//product_go.png" alt=""></div>
    </div>
    <div class="one_of_shop">
        <div class="shop_name"><span>肉制品</span></div>
        <div class="shop_button"><img src="../../images//product_go.png" alt=""></div>
    </div>
    <div class="one_of_shop">
        <div class="shop_name"><span>果干</span></div>
        <div class="shop_button"><img src="../../images//product_go.png" alt=""></div>
    </div>
    <div class="one_of_shop">
        <div class="shop_name"><span>服饰</span></div>
        <div class="shop_button"><img src="../../images//product_go.png" alt=""></div>
    </div>
    <div class="one_of_shop">
        <div class="shop_name"><span>家具</span></div>
        <div class="shop_button"><img src="../../images//product_go.png" alt=""></div>
    </div>
</div>