

<div class="product_support_acc top_plate" onclick="javascript:window.location.href='../jdshop_watch_list/similar_goods.html'">


    <div class="goods_support">
        <img data-src="../../images/yx_main_icon_8.png" src="../../images/yx_main_icon_8.png" class="loading_img">
    </div>

    <!--网易严选icon-->
    <!--<div class="goods_support">
        <img data-src="../../images/yx_main_icon_9.png"
             src="../../images/yx_main_icon_9.png"
             class="loading_img">
    </div>-->

    <div class="support_acc_text">

        <div class="acc_text_1">
            <div>京东自营</div>
            <span>全部商品【456265】</span>
        </div>


    </div>


</div>

<div class="similar_details_nav">

    <div class="similar_nav_content">

        <div class="tab choose_tab">热门商品</div>

        <div class="tab">所有商品</div>

    </div>

    <div class="similar_tab_box"></div>

</div>

<!-- 固定tab-->
<div class="search_results_nav">
    <div class="tab_box"></div>
    <div class="search_nav_content">
        <!-- 综合-->
        <div class="comprehensive search_results_tab">
            <span>综合</span>
            <div class="search_results_tab arrow">▼</div>
        </div>
        <!-- 销量 -->
        <div class="volume search_results_tab" onclick="jdSearch_results.hideShow(2)">销量</div>
        <!-- 价格 -->
        <div class="price" onclick="jdSearch_results.hideShow(2)">
            <div class="search_results_tab arrow up_arrow">▲</div>
            <div class="search_results_tab arrow down_arrow">▼</div>
            <span>价格</span>
        </div>
        <div class="brand ">
            <span>品牌</span>
            <div class="arrow">▼</div>
        </div>
        <div class="filter">
            <span>筛选</span>
            <div class="filter_icon"></div>
        </div>

    </div>


</div>