<!-- 商品列表-->
<div class="similar_goods_list" id="similar_goods_list">

    <!-- goods 1-->
    <a class="product" href="../jdshop_product/product.html">

        <div class="product_main_img">

            <img data-src="../../images/product_list_1.jpg"
                 src="../../images/img_loading.gif" class="loading_img">

        </div>

        <div class="main_text"><span>环保主题男女休闲鞋</span></div>

        <div class="product_main_title">

            环保主题男女休闲鞋

            <p>¥ 2999.00</p>

        </div>

    </a>

    <!-- goods 2-->
    <a class="product" href="../jdshop_product/product.html">

        <div class="product_main_img">

            <img data-src="../../images/product_list_1.jpg"
                 src="../../images/img_loading.gif" class="loading_img">

        </div>

        <div class="main_text"><span>环保主题男女休闲鞋</span></div>

        <div class="product_main_title">

            环保主题男女休闲鞋

            <p>¥ 2999.00</p>

        </div>

    </a>

    <!-- goods 1-->
    <a class="product" href="../jdshop_product/product.html">

        <div class="product_main_img">

            <img data-src="../../images/product_list_1.jpg"
                 src="../../images/img_loading.gif" class="loading_img">

        </div>

        <div class="main_text"><span>环保主题男女休闲鞋</span></div>

        <div class="product_main_title">

            环保主题男女休闲鞋

            <p>¥ 2999.00</p>

        </div>

    </a>

    <!-- goods 2-->
    <a class="product" href="../jdshop_product/product.html">

        <div class="product_main_img">

            <img data-src="../../images/product_list_1.jpg"
                 src="../../images/img_loading.gif" class="loading_img">

        </div>

        <div class="main_text"><span>环保主题男女休闲鞋</span></div>

        <div class="product_main_title">

            环保主题男女休闲鞋

            <p>¥ 2999.00</p>

        </div>

    </a>

    <!-- goods 1-->
    <a class="product" href="../jdshop_product/product.html">

        <div class="product_main_img">

            <img data-src="../../images/product_list_1.jpg"
                 src="../../images/img_loading.gif" class="loading_img">

        </div>

        <div class="main_text"><span>环保主题男女休闲鞋</span></div>

        <div class="product_main_title">

            环保主题男女休闲鞋

            <p>¥ 2999.00</p>

        </div>

    </a>

    <!-- goods 2-->
    <a class="product" href="../jdshop_product/product.html">

        <div class="product_main_img">

            <img data-src="../../images/product_list_1.jpg"
                 src="../../images/img_loading.gif" class="loading_img">

        </div>

        <div class="main_text"><span>环保主题男女休闲鞋</span></div>

        <div class="product_main_title">

            环保主题男女休闲鞋

            <p>¥ 2999.00</p>

        </div>

    </a>



</div>


<div class="loading_end">-数据加载完成 -</div>

<div class="bottom_table_black"></div>


<script>

/*图片懒加载*/
jfLazyLoading.lazyLoadInit({

"bottomDistance":"50"//距离底部的距离，触发事件，单位省略
})
</script>