


<!--下拉框-->
<div id="search_prompt" class="top_nav_bar">

    <%- include('../search_results/search_results_prompt/search_prompt_1_general.ejs')%>

    <%- include('../search_results/search_results_prompt/search_prompt_2_brand.ejs')%>

   <%- include('../search_results/search_results_prompt/search_prompt_3_filter.ejs')%>

</div>

<%- include('../product/product_prompt/product_prompt_1_address.ejs')%>



<script>


    //粘性布局

    //jfProductDetails.slidePositionSimilarTab();

    //选择
    //document.getElementsByClassName('similar_nav_content')[0].addEventListener('click',similarList.chooseTabSimilar,false)


</script>