<div class="order_confirm_distribution jdshop_shadow">
    <div class="text_list jdshop_alignment_center">
        <p>订单编号</p>
        <p>170000001111112222222</p>
    </div>
    <div class="text_list jdshop_alignment_center">
        <p>下单时间</p>
        <p>2017-05-11 18:22</p>
    </div>
</div>
