
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">
            运费细则
        </div>
        <a class="right">

        </a>
    </div>
</nav>

<div class="money_detail_content">
    <div class="money_detail_list">
        <div class="money_detail_title">一、京东自营商品运费规则</div>
        <div class="money_detail_one">订单金额（不含运费）＜49元，收取基础运费8元，不收续重运费；</div>
        <div class="money_detail_one">49≤订单金额（不含运费）＜99元，收取基础运费6元，不收续重运费；</div>
        <div class="money_detail_one">订单金额（不含运费）≥99元，免基础运费，不收续重运费。</div>
    </div>
    <div class="money_detail_list">
        <div class="money_detail_title">二、网易严选商品运费规则</div>
        <div class="money_detail_one">订单金额（不含运费）＜88元，收取基础运费10元，不收续重运费；</div>
        <div class="money_detail_one">订单金额（不含运费）≥88元，免基础运费，不收续重运费。</div>
    </div>
    <div class="money_detail_list">
        <div class="money_detail_title">三、退货时运费收取规则</div>
        <div class="money_detail_one">订单产生的运费，有理由退货时，运费原路退到账户，无理由退货时，运费不予退还；</div>
        <div class="money_detail_one">商品退回时产生的运费，无理由退货由用户自己承担运费，有理由退货时由商品所属商家承担运费。</div>
    </div>
</div>