<!-- 顶部导航 -->
<nav class="top_search_bar">
    <div class="tab_box"></div>
    <div class="top_search_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <a class="content" href="../jdshop_search/search.html">
            <div class="search_tab jdshop_alignment_middle" id="searchTab">
                <i></i>
                <span>小米</span>
            </div>
        </a>
        <a class="right">
        </a>
    </div>
</nav>