


<!--下拉框-->
<div id="search_prompt" class="top_nav_bar">

    <%- include('../search_results/search_results_prompt/search_prompt_1_general.ejs')%>

    <%- include('../search_results/search_results_prompt/search_prompt_2_brand.ejs')%>

   <%- include('../search_results/search_results_prompt/search_prompt_3_filter.ejs')%>

</div>

<%- include('../product/product_prompt/product_prompt_1_address.ejs')%>


<div class="bottom_table">
    <button class="fenlei_plate hot_table_bar">热门分类</button>

    <button class="fenlei_plate all_table_bar">所有分类</button>
</div>

<div class="hide_left_table">
    <div class="left_table_bar">
        <a class="table_bar_part">糕点</a>

        <a class="table_bar_part">零食</a>

        <a class="table_bar_part">面食</a>

        <a class="table_bar_part">玩具</a>

        <a class="table_bar_part">奢侈品</a>
    </div>

    <div class="bottom_bgd"></div>
</div>

<div class="hide_right_table">
    <div class="right_table_bar">
        <a class="table_bar_part">糕点</a>

        <a class="table_bar_part">零食</a>

        <a class="table_bar_part">面食</a>

        <a class="table_bar_part">玩具</a>

        <a class="table_bar_part">奢侈品</a>

        <a class="table_bar_part">糕点</a>

        <a class="table_bar_part">零食</a>

        <a class="table_bar_part">面食</a>

        <a class="table_bar_part">玩具</a>

        <a class="table_bar_part">奢侈品</a>
    </div>

    <div class="bottom_bgd"></div>
</div>


<script>


    //粘性布局

    //jfProductDetails.slidePositionSimilarTab();

    //选择
    //document.getElementsByClassName('similar_nav_content')[0].addEventListener('click',similarList.chooseTabSimilar,false)


    jdSearch_results.generalBlockEvent();

    //价格高低选择
    jdSearch_results.priceChoose()

    //置底分类按钮
    bottomBtn.showBar()

</script>