<div class="payment_detail">
    <div class="icon_img">
        <img src="../../images/icon_fail.png">
    </div>
    <div class="operation_prompt">
        <p>您的账户有问题，未能完成支付</p>
        <p>请解决问题后再次尝试支付订单</p>
    </div>
    <div class="explain">
        您的订单已保存，请在24小时内完成支付，超时将被自动取消。
    </div>
</div>