<div class="payment_operation">
    <p class="jdshop_btn_area jdshop_alignment_center">
        <a class="jdshop_btn btn_red_border" href="../jdshop_purchasing_process/order_confirm.html">去支付</a>
    </p>
    <p class="jdshop_btn_area">
        <a class="jdshop_btn btn_red_border" href="../jdshop_order/shop_order_money_wait.html">查看订单详情</a>
    </p>
</div>