<div class="status_goods_major">
    <div>
        <div class="goods jdshop_alignment_middle ">
            <img src="../../images/status_spot.png"> 2个包裹</div>


        <div class="status_goods">


            <div class="status_goods_title"><span class="goods_send_icon"></span><span class="status_goods_send">  运输中</span></div>
            <div class="status_goods_tickets">中通快递 : 12300012300045</div>

            <div class="status_goods_line">
                <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
                <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
        </div>
    </div>
</div>
<script>
    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })

</script>