

<div class="live_all">

    <img class="top_img" src="../../images/banner_top.png">

    <!--头图推荐3件商品-->

    <div class="choose_list">

        <div class="top_box_all">

            <div class="img_box">

                <img src="../../images/top_3_1.png">

            </div>

            <p>￥<span class="now_money">1499</span><span class="last_money">￥<span>1699</span></span></p>

        </div>

        <div class="top_box_all">

            <div class="img_box">

                <img src="../../images/top_3_2.png">

            </div>

            <p>￥<span class="now_money">1499</span><span class="last_money">￥<span>1699</span></span></p>

        </div>

        <div class="top_box_all">

            <div class="img_box">

                <img src="../../images/top_3_3.png">

            </div>

            <p>￥<span class="now_money">1499</span><span class="last_money">￥<span>1699</span></span></p>

        </div>


    </div>

    <!--标题-->

    <a href="#" class="live_list_title">

        <div class="center">

            <img src="../../images/left_light.png">

            <span class="title_t">超级手机大牌</span>

            <img src="../../images/right_light.png">

        </div>

    </a>

    <!--内容-->

    <div class="detail_live_all">

        <div class="shop_box">

            <img src="../../images/show_live.png">

            <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

            <p class="live_shop_money">￥<span>5499</span></p>

        </div>

        <div class="shop_box">

            <img src="../../images/show_live.png">

            <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

            <p class="live_shop_money">￥<span>5499</span></p>

        </div>

        <div class="shop_box">

            <img src="../../images/show_live.png">

            <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

            <p class="live_shop_money">￥<span>5499</span></p>

        </div>

        <div class="shop_box">

            <img src="../../images/show_live.png">

            <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

            <p class="live_shop_money">￥<span>5499</span></p>

        </div>

        <div class="shop_box">

            <img src="../../images/show_live.png">

            <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

            <p class="live_shop_money">￥<span>5499</span></p>

        </div>

        <!--标题-->

        <a href="#" class="live_list_title">

            <div class="center">

                <img src="../../images/left_light.png">

                <span class="title_t">超级手机大牌</span>

                <img src="../../images/right_light.png">

            </div>

        </a>

        <!--内容-->

        <div class="detail_live_all">

            <div class="shop_box">

                <img src="../../images/show_live.png">

                <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

                <p class="live_shop_money">￥<span>5499</span></p>

            </div>

            <div class="shop_box">

                <img src="../../images/show_live.png">

                <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

                <p class="live_shop_money">￥<span>5499</span></p>

            </div>

            <div class="shop_box">

                <img src="../../images/show_live.png">

                <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

                <p class="live_shop_money">￥<span>5499</span></p>

            </div>

            <div class="shop_box">

                <img src="../../images/show_live.png">

                <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

                <p class="live_shop_money">￥<span>5499</span></p>

            </div>

            <div class="shop_box">

                <img src="../../images/show_live.png">

                <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

                <p class="live_shop_money">￥<span>5499</span></p>

            </div>

            <div class="shop_box">

                <img src="../../images/show_live.png">

                <p class="live_shop_name">三星S9移动版</p><!--最大6字符-->

                <p class="live_shop_money">￥<span>5499</span></p>

            </div>

        </div>

    </div>

</div>