<div class="payment_detail">
    <div class="icon_img">
        <img src="../../images/icon_success.png">
    </div>
    <div class="operation_prompt">
        <p>订单已经支付成功</p>
        <p>我们已经通知京东商城准备配送</p>
    </div>
</div>