<!--订单-->
<div class="over_application_list_content">

    <!-- 售后申请 -->

    <div class="after_sales_list show">

        <div>

            <!-- list 未过期-->
            <div class="customer_service jdshop_shadow">
                <!-- 订单编号 -->
                <div class="order_title jdshop_alignment_center">
                    <p>订单编号:1701020000001123</p>
                    <p>下单时间:2017-06-05 18:00:30</p>
                </div>

                <div class="order_content">

                    <!-- 商品信息 -->
                    <div class="application_record_goods jdshop_alignment_top">
                        <div class="goods_images">
                            <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                        </div>
                        <div class="sales_main_details">
                            <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                            <div class="sales_total">数量：10</div>

                        </div>

                    </div>

                    <!--按钮-->
                    <div class="customer_service_button">
                        <a class="sales_order" href="../return_service/after_sales_application.html">申请售后</a>

                    </div>

                </div>

                <div class="order_content">

                    <!-- 商品信息 -->
                    <div class="application_record_goods jdshop_alignment_top">
                        <div class="goods_images">
                            <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                        </div>
                        <div class="sales_main_details">
                            <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                            <div class="sales_total">数量：10</div>

                        </div>

                    </div>

                    <!--按钮-->
                    <div class="customer_service_button">
                        <a class="sales_order" href="../return_service/after_sales_application_yx.html">申请售后</a>

                    </div>

                </div>

                <div class="order_content">

                    <!-- 商品信息 -->
                    <div class="application_record_goods jdshop_alignment_top">
                        <div class="goods_images">
                            <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                        </div>
                        <div class="sales_main_details">
                            <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                            <div class="sales_total">数量：10</div>

                        </div>

                    </div>

                    <!--按钮-->
                    <div class="customer_service_button">
                        <a class="sales_order" href="../return_service/after_sales_application_yx.html">申请售后</a>

                    </div>

                </div>

            </div>



        </div>



    </div>


</div>


