<!-- 提示-->
<div class="yx_background">
    <div class="service_tip">
        <img src="../../images/status_spot.png">
        <p>本次售后由<span>严选</span>为您提供</p>
    </div>
</div>


<div class="refund_inf jdshop_shadow">

    <!-- 退换商品信息-->
    <div class="after_sales_goods jdshop_alignment_top yx_bottom_line">
        <div class="main_images">
            <img src="../../images/product_list_2.jpg">
        </div>
        <div class="main_details">
            <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div>×2</div>
            </div>
        </div>

    </div>

    <!-- 服务类型 -->
    <div class="yx_service_type yx_bottom_line">
        <div class="title">服务类型：</div>
        <div class="type_choose">
            <div class="service_tab selected" data-name="return">退货</div>
        </div>
    </div>

    <!-- 申请数量-->
    <div class="yx_application_quantity yx_bottom_line">
        <div class="title">申请数量：</div>
        <div class="volume_btn">
            <span class="reduce">－</span>
            <input type="number" pattern="[0-9]*" class="volume_input" value="1" readonly>
            <span class="add">＋</span>
        </div>
    </div>

    <!-- 退款方式-->
    <div class="yx_refund_method">
        <div class="title">
            <span>退款方式：</span>
            <select name="reason">
                <option value="no_reason">30天无理由退货</option>
            </select>
        </div>
        <div class="prompt">
            *商家承担退货运费，请发顺丰快递到付，其他快递不支持免运费。请自行承担运费。
        </div>
    </div>


</div>

<script>

    //购物车加减
    jfProductDetails.volumeChange();





</script>
